/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #445161;
	color: #fff;
	padding: 30px 50px;
}
.header__body>h1 {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	font-size: 60px;
	line-height: 1.2;
	padding: 0 0 40px 0;
}
.header__image {
	padding: 0;
	margin: auto 0;
}
.list li {
	background: url(../img/icons/icon.png) 0 8px no-repeat;
	padding: 0 0 0 35px;
	font-size: 20px;
	line-height: 36px;
}
h2 {
	font-size: 30px;
	color: #445161;
	margin: 0 0 35px 0;
}
.what {
	display: flex;
	padding: 50px 0;
}
.what div {
	margin: 0 38px 0 0;
}
.what__image {
	flex: 0 1 430px;
	padding: 0 0 0 50px;
}
.what__text {
	flex: 0 1 642.5px;
}
.what__text p {
	padding: 0 0 30px 0;
}
.what__text p:last-child {
	padding: 0;
}
.column {
	background: #fafafa;
	padding: 0 50px 20px 50px;
}
.column>h2, .vertical>h2 {
	padding: 46px 0 0 0;
	text-align: center;
}
.column__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -8px;
}
.column__box {
	display: flex;
	/*flex: 0 1 575px;*/
	flex: 0 1 50%;
	/*padding: 0 30px 30px 0;*/
	margin: 0 0 30px 0;
	padding: 0 8px;
}
.column__image {
	flex: 0 0 200px;
}
.column__text {
	flex: 1 1 auto;
	padding: 0 0 0 15px;
}
.column__text h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
}
.column__text p {
	color: #333333;
}

.vertical {
	padding: 0 0 50px 0;
}
.vertical__flex {
	display: flex;
	justify-content: center;
}
.vertical__box {
	flex: 0 0 300px;
	margin: 0 46px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #445161;
	color: #fff;
	border-radius: 5px;
}
.vertical__box:last-child {
	margin: 0;
}
.vertical__box_1 {
	font-size: 24px;
	padding: 18px 0;
	text-transform: uppercase;
}
.vertical__box_2 {
	font-size: 40px;
	color: #445162;
	border: 2px solid #445161;
	background-color: #fff;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	text-transform: lowercase;
}
.vertical__box_3 {
	text-align: justify;
	padding: 19px 30px 21px 20px;
	flex: 1 1 auto;
}
.vertical__box_3 p {
	margin: 0 0 35px 0;
}
.vertical__box_3 p:last-child {
	margin: 0;
}
.vertical__box_4 {
	margin: 0 0 20px 0;
	width: 100%;
}
.vertical__box_4 a {
	display: block;
	text-align: center;
	margin: 0 20px;
	padding: 12px 0 15px 0;
	background: #fff;
	color: #445161;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
}
.footer {
	background-color: #fafafa;
	text-align: center;
	color: #445162;
	font-size: 12px;
	height: 65px;
	padding: 25px 0 0 0;
}